@using MvcBurger.Entities

@{
    ViewData["Title"] = "Index";
}

<h2>Siparişler</h2>
<h3>@ViewBag.Fullname Hoşgeldiniz</h3>


<p>
    <a asp-action="Create">Yeni Siparis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Buyukluk
            </th>
            <th>
                Adet
            </th>
            <th>
                Toplam Fiyat
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Siparis kullaniciSiparis in ViewBag.KullaniciSiparis) {
        <tr>
            <td>
                 @kullaniciSiparis.Buyukluk
            </td>
            <td>
                    @kullaniciSiparis.SiparisSayisi
            </td>
            <td>
                    @kullaniciSiparis.ToplamFiyat
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@kullaniciSiparis.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@kullaniciSiparis.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@kullaniciSiparis.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<form asp-action="Add">
    <div class="form-group">
        <select asp-items="@(new SelectList(ViewBag.Menuler,"Ad","Fiyat"))">

        </select>

    </div>

</form>

<form asp-action="Add">
    <div class="form-group">
        <select asp-items="@(new SelectList(ViewBag.EkstraMalzemeler,"Adi","Fiyat"))">
        </select>

    </div>

</form>