@using MvcBurger.Entities

@{
    ViewData["Title"] = "Index";
}

<h2>Siparişler</h2>
<h3>@ViewBag.Fullname Hoşgeldiniz</h3>    


<p>
    <a asp-action="Create" class="btn btn-outline-primary">Yeni Siparis</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Menü Adı
            </th>
            <th>
                Ekstra Malzemeler
            </th>
            <th>
                Buyukluk
            </th>
            <th>
                Adet
            </th>
            <th>
                Toplam Fiyat
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Siparis kullaniciSiparis in ViewBag.KullaniciSiparis)
        {
            <tr>
                <td>
                   @kullaniciSiparis.Menuler
                </td>
                <td>
                    @kullaniciSiparis.EkstraMalzemeler 
                </td>
                <td>
                    @kullaniciSiparis.Buyukluk
                </td>
                <td>
                    @kullaniciSiparis.SiparisSayisi
                </td>
                <td>
                    @kullaniciSiparis.ToplamFiyat
                </td>
                <td>
<<<<<<< HEAD
                    <a asp-action="Update" asp-route-id="@kullaniciSiparis.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@kullaniciSiparis.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@kullaniciSiparis.Id">Delete</a>
=======
                    <a asp-action="Edit" asp-route-id="@kullaniciSiparis.Id" class="btn btn-success">Edit</a> 
                    <a asp-action="Details" asp-route-id="@kullaniciSiparis.Id" class="btn btn-warning">Details </a> 
                    <a asp-action="Delete" asp-route-id="@kullaniciSiparis.Id" class="btn btn-danger">Delete</a>
>>>>>>> 93b4c72a9d0ab2cf1e901d9cff872c538f2e5515
                </td>
            </tr>
        }
    </tbody>
</table>